---
layout: src/templates/layouts/no-sidebar.hbs
products:
- title:
    SPF.IO
  tagline:
    Wow your audience with amazing multilingual experiences using the synchronous presentation framework. 
  link:
    http://spf.io
  image:
    images/spfio-mark.png
  image-title:
    SPF.IO - Creating amazing multilingual experiences with the synchronous presentation framework.
- title:
    Ceaseless
  tagline:
    Experience the joy of praying for others. By praying for 3 friends a day we can together pray for everyone on earth!
  link:
    http://ceaselessprayer.com
  image:
    images/ceaseless-mark.png
  image-title:
    Ceaseless - Personal prayer for everyone on earth
- title:
    Project FIG
  tagline:
    The Fully Interactive Gospel enables even the illiterate to have convenient access to the Bible using only their voice. 
  link:
    http://fig.theotech.org
  image:
    images/fig-1.jpg
  image-title:
    CC2.0 by noelzialee https://creativecommons.org/licenses/by/2.0/
---
<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Nav -->
        {{> nav}}

    </div>
</div>

<div class="wrapper">
	<div class="container" id="main">
		<header>
			<h2>Products</h2>
			<p>Marvelous inventions to accelerate the gospel and bless the world.</p>
		</header>

		<div class="row features">
		{{#each products}}
		    <section class="4u feature">
			<div class="image-wrapper first">
			    <a href="#" class="image featured"><img src="{{image}}" alt="" title="{{image-title}}" /></a>
			</div>
			<header>
			    <h3>{{title}}</h3>
			</header>
			<p>{{tagline}}</p>
			<ul class="actions">
			    <li><a href="{{link}}" class="button">More Info</a></li>
			</ul>
		    </section>
		{{/each}}
		</div>
	</div>
</div>
