---
layout: src/templates/layouts/no-sidebar.hbs
---
<!-- Header -->
<div id="header-wrapper">
    <div id="header" class="container">

        <!-- Nav -->
        {{> nav}}

    </div>
</div>

<!-- Main -->
<div class="wrapper">
    <div class="container" id="main">

        <!-- Content -->
        <article id="content">
            <header>
                <h2>{{title}}</h2>
                <p>{{intro}}</p>
            </header>
            <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
            {{> body}}
        </article>

        <div class="row features">
            <section class="4u feature">
                <div class="image-wrapper first">
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                </div>
                <header>
                    <h3>{{sub1}}</h3>
                </header>
                <p>{{paragraph1}}</p>
                <ul class="actions">
                    <li><a href="{{link1}}" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                </div>
                <header>
                    <h3>{{sub2}}</h3>
                </header>
                <p>{{paragraph2}}</p>
                <ul class="actions">
                    <li><a href="{{link2}}" class="button">More Info</a></li>
                </ul>
            </section>
            <section class="4u feature">
                <div class="image-wrapper">
                    <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                </div>
                <header>
                    <h3>{{sub3}}</h3>
                </header>
                <p>{{paragraph3}}</p>
                <ul class="actions">
                    <li><a href="{{link3}}" class="button">More Info</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
